<%- include('partials/header') %>

    <a href="/users/register">Register</a>
    <a href="/users">Users</a>
    <a href="/users/addUser">Add User</a>
    <a href="/queue">Queue</a>
<%- include('partials/footer') %>