<%- include('partials/header') %>

    <h1>Welcome</h1><br><br>

    <br><br>
    <table style="border: 1px solid black; margin:auto;">
      <thead>
        <th>Schedule</th>
        <th>No. Urut</th>
        <th>CountId</th>
        <th>UserId</th>
      </thead>
      <% for(let i= 0; i < data.length; i++){ %>
        <tr>

        </tr>
      <% }%>
    </table>
<%- include('partials/footer') %>